<a href="https://colab.research.google.com/github/hes0454/Eunsil.Ha/blob/main/Copy_of_My_First_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example Text goes here
Heading 1
#This represents the contents of heading 1

In [ ]:
a = 1

In [ ]:
b = "data"

In [ ]:
c = [1,2,3,4,5]

In [ ]:
d = ["John", "Sally", " Joe", "Suzi","Jack"]

In [ ]:

for i,j in zip(c,d):
  if i ==1:
    print(j +' has ' +  str(i) + ' car.')
  else:
      print(j +' has ' +  str(i) + ' cars.')

John has 1 car.
Sally has 2 cars.
 Joe has 3 cars.
Suzi has 4 cars.
Jack has 5 cars.

In [ ]:
num = 5
num = 3
print(5+3)
print(5*3)
print(5/3)
print(5**3)
print("-"*20)

8
15
1.6666666666666667
125
--------------------

In [ ]:
num=input("Enter the age : ")
if age>= 18:
  print("Elligible to vote!")

Elligible to vote!

In [ ]:
num=input("Enter the number : ")
print(type(num))
num1= float(input("enter the number: "))
print(type(num1))

Enter the number : 5
<class 'str'>
enter the number: 3
<class 'float'>

In [ ]:
def display():
  print("Hello")

In [ ]:
display()

Hello

In [ ]:
num = int(input(" Enter non negative integer to take the factorial of ; "))
factorial = 1
for i in range(num):
    factorial*=i+1
 
print(factorial)

In [ ]:
def raise_to_power(base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result = result * base_num
    return result
  
print(raise_to_power(3,2))

9

In [ ]:


phrase = "Haha Academy"
print(phrase.replace("Haha", "Hoho"))

Hoho Academy

In [44]:
from IPython.utils.text import columnize
number_grid = [
    [1,2,3],
    [0]
    
]

for row in number_grid:
    for col in row:
        print(col)

1
2
3
0

In [66]:
def translate(phrase):
  translation = ""
  for letter in phrase:
      if letter.lower() in "aeiou":
        if letter.isupper():
          translation = translation + "g"

      else:
        translation = translation + letter
  return translation

print(translate('To be or Not to be'))

T b r Nt t b

In [ ]:
num = int(input(" Enter non negative integer to take the factorial of ; "))
factorial = 1
for i in range(num):
    factorial*=i+1
 
print(factorial)

In [ ]:
num = int(input(" Enter non negative integer to take the factorial of ; "))
factorial = 1
for i in range(num):
    factorial*=i+1
 
print(factorial)

In [ ]:
print (3*4+5)

17

In [ ]:
from math import *

my_num = -5
print(round(3.7))

4

In [ ]:
name1 = input("enter a number:")
name2 = input("Enter another number: ")
result = float(name1) + float(name2)
print(result)

enter a number:3.0
Enter another number: 5.7
8.7

In [ ]:
lucky_numbers = [4,8,15,16,23,42]
lucky_numbers.reverse()
print(lucky_numbers)

friends = ["kevin", "Karen","Jim","Jim", "Oscar", "John"]
friends[1] = "Mike"
friends.sort()
friends.extend(lucky_numbers)
friends.append(98)
friends.insert(1,"Mary")
friends2 = friends.copy()

print(friends[1:])
print(friends.count("Jim"))

print(friends)
print(friends2)

[42, 23, 16, 15, 8, 4]
['Mary', 'Jim', 'John', 'Mike', 'Oscar', 'kevin', 42, 23, 16, 15, 8, 4, 98]
2
['Jim', 'Mary', 'Jim', 'John', 'Mike', 'Oscar', 'kevin', 42, 23, 16, 15, 8, 4, 98]
['Jim', 'Mary', 'Jim', 'John', 'Mike', 'Oscar', 'kevin', 42, 23, 16, 15, 8, 4, 98]